:root {
  --color-primary: #ff7b02;
  /* ==== GREANN THEME ====== */
  --color-primary: #ff7b02;
  --color-primary-varient: #e5a55d;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003377;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);

  /* ==== PURPLE THEME ======= */

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-bg-3);
  color: var(--color-light);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* =================== NAVBAR STYLE ============= */

nav {
  height: 5rem; /* cal(16px * 5) */
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* nav clas on scroll using js */
.window-scrolled {
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* only need to tables and phones */
.nav__toggle-btn {
  display: none;
}

.nav__logo {
  width: 7.5rem;
}

.nav__links {
  display: flex;
  gap: 4rem;
}

.nav__socials {
  display: flex;
  gap: 1rem;
}

.nav__socials a {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    var(--color-primary-varient),
    var(--color-primary)
  );
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
}

.nav__socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

/* =================== END NAVBAR STYLE ============= */
