:root {
  --color-primary: #ff7b02;
  /* ==== GREANN THEME ====== */
  --color-primary: #ff7b02;
  --color-primary-varient: #e5a55d;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);

  /* ==== PURPLE THEME ======= */

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-bg-3);
  color: var(--color-light);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* =================== NAVBAR STYLE ============= */

nav {
  height: 5rem; /* cal(16px * 5) */
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* nav clas on scroll using js */
.window-scrolled {
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* only need to tables and phones */
.nav__toggle-btn {
  display: none;
}

.nav__logo {
  width: 7.5rem;
}

.nav__links {
  display: flex;
  gap: 4rem;
}

.nav__socials {
  display: flex;
  gap: 1rem;
}

.nav__socials a {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    var(--color-primary-varient),
    var(--color-primary)
  );
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
}

.nav__socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

/* =================== END NAVBAR STYLE ============= */

/* =================== HEADER ============= */

header {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
  margin-top: 10rem;
  position: relative;
}

.header__image-bg {
  background: var(--color-bg-4);
  height: 22rem;
  width: 16rem;
  position: absolute;
}

.header__image-lg {
  width: 29rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.3);
  transition: var(--transition);
}

.header__image-sm {
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  position: absolute;
  left: 6rem;
  top: 6rem;
  transition: var(--transition);
}

.header__left:hover .header__image-sm {
  opacity: 0;
}

.header__left:hover .header__image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-3);
  top: 0;
  left: 0;
}

.header__head {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* genral empty style */
.empty {
  height: 3.5rem;
  width: 18rem;
  background: var(--color-bg-1);
  border-radius: calc(3.5rem / 2);
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-bg-4);
}

.header__tag {
  color: var(--color-primary-varient);
}

.header__right p {
  margin-top: 2rem;
  width: 85%;
}

/* on;y shows in tablet and phone mode */
.header__btn-md {
  display: none;
}

.header__frames {
  position: absolute;
  top: 88vh;
  right: 44rem;
  transition: var(--transition);
}

.header__frame {
  width: 14rem;
  border: 0.4rem solid var(--color-bg-3);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  transition: var(--transition);
}

.header__frame:nth-child(2) {
  transform: rotate(20deg);
  top: -2rem;
  left: 2rem;
}

.header__frames:hover .header__frame {
  transform: rotate(0);
}

.header__frames:hover .header__frame:nth-child(2) {
  top: 0;
  left: 15rem;
}

/* Genral style for contact buttons */
.contact__btn {
  color: var(--color-bg-1);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.header__btn {
  background: linear-gradient(
    -30deg,
    var(--color-primary-varient),
    var(--color-primary),
    var(--color-primary-varient)
  );
  position: absolute;
  right: 4%;
  bottom: -3rem;
}

.header__btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  color: var(--color-bg-1);
}

.contact__btn i {
  font-size: 3.5rem;
  position: absolute;
}

.contact__btn p {
  font-size: 1rem;
  font-weight: 600;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  animation: spinText 30s linear;
}

.contact__btn p span {
  position: absolute;
  transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
  to {
    transform: rotate(360deg);
  }
}
/*=================== END NAVBAR STYLE ============= */
